doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css')
    link(rel='stylesheet' href='./style.css')
    title Структура frontend приложения
  body(class='page')
    button(class='counter-button') Press me
    button(class='reset-button') Reset
    p(class='text') Press counter
    p(class='counter')

    script(src='./index.min.js')
